/* src/components/HowToUse.css */
.how-to-use-section {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    color: white;
  }
  
  .how-to-use-section h3 {
    font-size: 24px;
    color: white;
  }
  
  .how-to-use-section p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
  }
  