.about-section {
  color: #333; /* Darker font color for better readability */
}

.about-image {
  max-width: 100%; /* Ensures responsive image scaling */
  height: 60%;
  margin: 10px 0;
}

.about-image-xlsx {
  max-width: 100%; /* Ensures responsive image scaling */
  height: 60%;
  margin: 10px 0;
}

.image-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.image-container {
  text-align: center;
  flex: 1 1 45%; /* Responsive image containers */
}

.image-caption {
  font-size: 14px;
  color: #555; /* Slightly lighter for captions */
  margin-top: 5px;
}


.about-text {
  font-size: 25px;
  margin: 30px 30px;
}